<!DOCTYPE html>
<html ng-app="TodoApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="/static/js/lib/jquery-1.8.3.js"></script>
    <script src="/static/js/lib/angular.js"></script>
    <script src="/static/js/lib/angular-resource.js"></script>

    <script src="/static/js/lib/bootstrap-datepicker.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/todo.js"></script>
    <script src="/static/js/user.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/datepicker.css" />
    <title>Amazing Todo</title>
</head>
<body>

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Todo RESTapp</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#/">Todo</a></li>
                    {%  if session.admin %}
                    <li><a href="#/user">User</a></li>
                    {%  endif %}
                </ul>

                 {% if session.uid %}
                 Logged in as {{ session.email }}
                 <form class="navbar-form pull-right" action="{{ url_for('logout') }}" method="post">
                    <button type="submit" class="btn">Logout</button>
                 </form>
                 {% else %}
                 <form class="navbar-form pull-right" action="{{ url_for('login') }}" method="post">
                    <input class="span2" type="text" placeholder="Email" name="email">
                    <input class="span2" type="password" placeholder="Password" name="password">
                    <button type="submit" class="btn">Sign in</button>
                 </form>

                 {% endif %}
                </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

   {% if session.uid %}
   <div ng-view></div>
   {% else %}
   Please log in.
   {% endif %}
</div>
</body>
</html>
