<h1>Details</h1>
<form name="form" class="form-horizontal">
    <div class="control-group" ng-class="{error: form.Todo.$invalid}">
        <label class="control-label" for="Todo">Todo</label>
        <div class="controls">
            <input type="text" ng-model="item.todo" id="Todo">
        </div>
    </div>
    <div class="control-group" ng-class="{error: form.Todo.$invalid}">
        <label class="control-label" for="Todo">Priority</label>
        <div class="controls">
            <input type="text" ng-model="item.priority" id="Priority">
        </div>

    </div>
     <div class="control-group" ng-class="{error: form.Todo.$invalid}">
        <label class="control-label" for="Todo">Due</label>
        <div class="controls">
            <input type="text" ng-model="item.due_date" data-date-format="yyyy-mm-dd" id="Due">
        </div>
    </div>
    <div class="control-group" ng-class="{error: form.Todo.$invalid}">
        <label class="control-label" for="Todo">Done</label>
        <div class="controls">
            <input type="checkbox" ng-model="item.done" id="Done">
        </div>
    </div>

    <div class="form-actions">
        <button class="btn btn-primary" ng-click="save()">
            Submit
        </button>
        <a href="#/" class="btn">Cancel</a>
    </div>

    <script>
        $('#Due').datepicker();
    </script>

</form>