
<h1>Users</h1>

<form class="form-search">
    <div class="input-append">
        <input type="text" ng-model="query" class="input-medium search-query" placeholder="Search">
        <button ng-click="reset()" type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
    <button ng-click="query=''; reset()" ng-disabled="!query" type="submit" class="btn">Reset</button>
</form>

<table class="table table-striped table-condensed table-hover">
    <thead>
    <th sorted="email">Email</th>
    <th sorted="admin">Admin</th>
    <th><a href="#/user/new"><i class="icon-plus-sign"></i></a></th>
    </thead>
    <tbody>
    <tr ng-repeat="item in users" id="item_{{item.id}}" >
        <td>{{item.email}}</td>
        <td>
            <input type="checkbox" ng-disabled="true" ng-model="item.admin">
        </td>
        <td>
            <a href="#/user/edit/{{item.id}}"><i class="icon-edit"></i></a>
            <a ng-click="remove()"><i class="icon-remove"></i></a>
        </td>
    </tr>
    </tbody>
</table>

<a href="" ng-click = "offset = offset + limit; search()"
   ng-show ="show_more()">Show more</a>

