<h1>User Details</h1>
<form name="form" class="form-horizontal">
    <div class="control-group" ng-class="{error: form.User.$invalid}">
        <label class="control-label" for="User">Id</label>
        <div class="controls">
            <input type="text" ng-model="item.id" ng-disabled="true" id="User">
        </div>
    </div>
    <div class="control-group" ng-class="{error: form.User.$invalid}">
        <label class="control-label" for="User">Email</label>
        <div class="controls">
            <input type="text" ng-model="item.email" id="Email">
        </div>
    </div>
    <div class="control-group" ng-class="{error: form.User.$invalid}">
        <label class="control-label" for="User">Password</label>
        <div class="controls">
            <input type="text" ng-model="item.password" id="Password">
        </div>
    </div>
    <div class="control-group" ng-class="{error: form.User.$invalid}">
        <label class="control-label" for="User">Admin</label>
        <div class="controls">
            <input type="checkbox" ng-model="item.admin" id="Done">
        </div>
    </div>

    <div class="form-actions">
        <button class="btn btn-primary" ng-click="save()">
            Submit
        </button>
        <a href="#/user" class="btn">Cancel</a>
    </div>

    <script>
        $('#Due').datepicker();
    </script>

</form>